body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 250; 
}
.trangCaNhan{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.722);
    height: 1024px;
    width: 1440px;
}
.nav{
    width: 121px;
    height: 1024px;
    left: -43px;
}
.noiDung{
    max-width: 1282px;
}
header{
    max-width: 1282px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 580px;
}
.header-phai{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.timKiem img{
    height: 20px;
    width: 20px;
    top: 14px;
    left: 20px;
    margin:auto 0;
    margin-left: 10px;
}
.timKiem{
    display: flex;
    margin:auto;
    background-color: white;
    border-radius: 5px;
    width: 354px;
    height: 52px;
    gap:8px;
}
.timKiem1{
    border:none;
    outline: none;
}
.chuong img{
    height: 24px;
    width: 24px;
    top: 14px;
    left: 388px;
    margin:auto 0;
}
.chuong{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    height: 52px;
    width: 52px;
}
.a img{
    width: 1282px;
    height: 100px;
}
section{
    display: flex;
    flow: vertical;
    flex-direction: column;
    gap: 10px;
    width: 1282px;
    height: 856px;
    top:136px;
    left:118px;
    border-radius: 10px;
    max-width: 1282px;
    background-color:white;
}
.oLon{
    display: flex;
    flow: vertical;
    flex-direction: column;
    gap: 30px;
    width: 1218px;
    height: 653px;
    top:268px;
    left:150px;

}
.nguoiDung{
    display: flex;
    flow: horizontal;
    flex-direction: row;
    max-width: 1218px;
    width: 1218px;
    height: 100px;
    justify-content: space-between;
    margin: 10px 20px ;
    gap: 600px;
}
.thongTinNguoiDung img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50px;
}
.thongTinNguoiDung{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nguoiDung button{
    height: 44px;
    width: 93px;
    top: 28px;
    left: 1125px;
    border-radius: 10px;
    background-color: #4182F9;
    align-items: center;
    justify-content: center;
}
.oThongTin{
    display: flex;
    flex-direction: column;
    flow:grid;
    width: 1218px;
    height: 314px;
    grid-row:3;
    grid-column: 2;
    row-gap: 25px;
    column-gap: 32px;
    max-width: 1218px;
}
.oThongTin label{
    margin-bottom: 10px !important;
    font-weight: 400;
}
.Ten{
    display: flex;
    flex-direction: row;
    max-width: 1218px;
    gap: 37px;
    margin-left:50px;
}
.GC{
    display: flex;
    flex-direction: row;
    max-width: 1218px;
    gap: 35px;
    margin-left:50px; 
}
.LT{
    display: flex;
    flex-direction: row;
    max-width: 1218px;
    gap: 35px;
    margin-left:50px;
}
.Name{
    flow:horizontal;
    width: 513px;
    height: 42px;
    border-radius: 8px;
    justify-content: space-between;
    gap: 15px;
    background-color: #F9F9F9;
    border:none;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    margin-top: 10px;
}
input::placeholder{
    color:#88888888;
}
.optionName{
    flow:horizontal;
    width: 558px;
    height: 72px;
    border-radius: 8px;
    justify-content: space-between;
    gap: 15px;
    background-color: #F9F9F9;
    border:none;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
    color:#88888888;
}
.gender{
    display: flex;
    flex-direction: column;
}
.country{
    display: flex;
    flex-direction: column;
}
.language{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.timeZone{
    display: flex;
    flex-direction: column;
    gap:10px;
}
option{
    width: 563px;
    height: 42px;
}
.diaChi{
    display:flex;
    flex-direction: column;
    width: 266px;
    height: 177px;
    gap: 18px;
    margin-left: 50px;
    margin-top: 20px;
}
.linkEmail{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 266px;
    height: 54px;
    flow:horizontal;
    justify-content: center;
    align-items: center;
}
.fullName{
    gap : 12px;
}